*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/captures
.externalNativeBuild

*.apk
*.ap_

*.dex

*.class

bin/
gen/

.classpath
.project
.settings
local.properties
bin
gen
_layouts
proguard.cfg

.DS_Store

.gradle/
build/

local.properties

proguard/

*.iml
*.ipr
*.iws
out
.idea

target
release.properties
pom.xml.*

*~
*.swp
